
body, html {
  height: 100%;
}

body {
  min-height: 600px;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  color: #9da5b4;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.workspace {
  position: relative;
  flex: 1;
  display: flex;
  background-color: #ecf0f5;


  .sidebar {
    justify-content: flex-end;
    display: flex;
    position: relative;
    //background-color: #E0E0E3;
  }
  .left.sidebar {
    border-right: $border-width solid $border-color;
  }
  .right.sidebar {
    border-left: $border-width solid $border-color;
  }


  .el-collapse {
    border: none;
  }
}


.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  color: #333;
  &>.am-u-g {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &.am-padding-vertical {
    .page-title{
      padding: 0;
    }
  }
  .page-title{
    position: relative;
    display: flex;
    padding: 15px 15px 0 15px;
    flex-shrink: 0;
    h1 {
      margin: 9px 0;
      font-size: 24px;
      font-weight: 400;
    }
    &>* {
      flex: 1;
    }
  }
  .page-content{
    flex-grow: 1;
    position: relative;
    padding: 15px 0;
  }
  .page-toolbar {
    margin: .8rem 0;
  }
  .table-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    overflow: auto;
    border: 1px solid #dfe6ec;
  }
  .table-wrapper .el-table {
    border: none;
    &::before{
      content: none;
    }
  }
  .demo-table-expand {
    .el-form-item {
      margin-right: 0;
      margin-bottom: 0;
      width: 49%;
    }
    label {
      width: 90px;
      color: #99a9bf;
    }
  }
  .el-table__expanded-cell .row{
    font-size: 1.2rem;
    display: flex;
    label {
      width: 160px;
      flex-shrink: 0;
    }
    //span
  }
}
.el-table .cell {
  font-size: 1.2rem;

}
.el-table .el-table__expanded-cell pre {
  font-size: 1.2rem;
  line-height: 1;
  @include user-select(text);
}
.el-table td, .el-table th {
  // ele2.0
  //height: auto;
  padding: 0;
}
.el-table__expand-icon {
  height: 30px;
}
