@import "mixins";
@import "val";
@import "reboot";
@import "utilities";


@import "main";
@import "header";
@import "left-sidebar";
@import "panel";
@import "box";
@import "footer";

@import url('//at.alicdn.com/t/font_425346_w3hbaja0p9nc23xr.css');
.toolbar-wrapper {
  //border-top: $border-width solid $border-color;
  //border-bottom: $border-width solid $border-color;
  padding: 5px 0;
  @include user-select(none);

  .setting-panel {
    height: 80px;
    display: flex;
  }
  .setting-panel > div {
    display: flex;
    align-items: center;
    padding: 15px;
  }
}

.process-wrapper {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.resize-handle-resizable {
  cursor: col-resize
}

.select-folder-panel {
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  .text {
    text-align: left;
    display: inline-block;
    padding: .5em 1em;
    vertical-align: middle;
    line-height: 1.5;
    border: 1px solid rgb(230, 230, 230);
    font-size: 1.2rem;
    width: 280px;
    margin-right: -4px;

  }
}

.directory_wrapper {
  @extend .process-wrapper;

  .el-collapse, .el-tree {
    //border: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
  .header-icon {
    float: right;
    line-height: inherit;
    font-size: 19px;
    margin-right: 15px;
  }

}

.el-tree-node__content {
  line-height: 24px;
  height: 24px;
  cursor: pointer;
  color: #000000;

  .sub-label {
    color: #5e7382;
    font-size: 1.2rem;
    float: right;
  }
  .sub-label i {
    margin: 0 .3rem;
  }
}

.el-tree-node__label {
  font-size: 13px;
}


.chart {
  height: 330px;
}

.tpl-form-line-form .am-form-label{
  padding-top: 5px;
  font-size: 16px;
  color: #888;
  font-weight: inherit;
  text-align: right;
}

.el-popover[x-placement^=bottom] {
  margin-top: -1px;
}

.select-folder-panel .am-form-field[disabled]{
  background-color: #fff;
  cursor: default;
}
.dirs {
  margin: 0;
  padding: 0;
  max-height: 500px;
  overflow: auto;
  li {
    line-height: 24px;

  }
  li:hover {
    background-color: #ccc;
  }
}
.el-dropdown-menu__item {
  line-height: 26px;
}
// ele 2.0
//.el-form-item__label ,.el-checkbox__label{
//  font-weight: 400;
//}
.filter-panel {
  .el-checkbox {
    float: left;
    width: 90px;
    padding-right: 20px;
    margin: 0;
    padding: 0;
  }
  //.el-form-item {
  //  margin-bottom: 0;
  //}
  //.el-form-item__label{
  //  padding: 8px 12px 2px 0;
  //}


}
// 升级 2.0
//.el-checkbox__inner {
//  width: 14px;
//  height: 14px;
//  border-radius: 0;
//  &::after{
//    left: 3px;
//    height: 6px;
//  }
//}

label {
  margin-bottom: 0;
}
// 创建任务
.create-task-body {
  display: flex;
  height: 500px;

  .type-panel {
    width: 200px;
    border: 1px solid #ccc;
    flex-shrink: 0;
  }
  .parame-panel {
    flex-grow: 1;
  }
  .parame-panel .el-checkbox {
    width: 180px;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .parame-panel .el-tab-pane{
    height: 381px;
    overflow: auto;
  }
}

.el-loading-mask {
  z-index: 1001 !important;
}
// 选择表格字段样式
.show-field {
  .el-checkbox {
    width: 100px;
  }
  .el-checkbox+.el-checkbox {
    margin: 0;
  }
}

.table-wrapper {
  .el-table__body-wrapper {
    overflow: hidden;
  }
}

// 挑选小妹列表
.little-sister-panel {
  .am-panel {
    border-color: #ccc;
  }
  display: flex;
  .use {
    flex-grow:1;
    color: #3d74ce;
  }
  .available {
    width: 350px;
    flex-shrink:0;
    margin-left: 15px;
  }
  .am-panel-bd {
    height: 340px;
    overflow: auto;
  }
  .vddl-list {
    min-height: 340px;
  }
  .panel__body--list {
    background: #fff
  }
  .panel__body--item {
    .sub-label {
      font-size: 10px; color: #a2a1a1; font-style: italic;
    }
    .little-name {
      flex-shrink: 0;
      margin-right: 5px;
    }
  }
  .panel__body--item,
  .panel__body .panel__placeholder {
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    padding: 0 15px;
    background: #fff;
    box-sizing: border-box;
    display: flex;
  }

  .panel__body--item.no-padding-left {
    padding-left: 0
  }

  .panel__body--item:last-child {
    border-bottom: none
  }

  .panel__body--item>.panel {
    margin: 15px 0
  }

  .panel .panel__placeholder {
    background: #f5f5f5
  }

  .panel.panel--info .panel__body {
    padding: 25px
  }

  .param-group {
    width: 100%;
    align-items: center;
    display: flex;
    padding-left: 15px;
  }

}
// 查看文件详情
.file-info-dialog {
  td {
    padding: 1rem;
  }
  tr>td:nth-child(2n-1){
    font-size: 13px;
    font-weight: 600;
  }
  pre {
    max-height: 300px;
    overflow: auto;
  }
}