@charset "UTF-8";
@import url("//at.alicdn.com/t/font_425346_w3hbaja0p9nc23xr.css");
@-ms-viewport {
  width: device-width; }

body {
  margin: 0;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  height: 100%;
  cursor: default; }

[tabindex="-1"]:focus {
  outline: none !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }
  h1 .iconfont,
  h2 .iconfont,
  h3 .iconfont,
  h4 .iconfont,
  h5 .iconfont,
  h6 .iconfont {
    font-size: inherit;
    vertical-align: middle; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  user-select: text;
  cursor: text; }

abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
  user-select: text; }

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none; }

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text; }

a:not([href]):not([tabindex]) {
  text-decoration: none;
  cursor: default; }
  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

[role="button"],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

table {
  border-collapse: collapse; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button, html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  cursor: pointer; }

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent; }

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent; }

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #007bff; }

.border {
  border: 1px solid #e9ecef !important; }

.border-0 {
  border: 0 !important; }

.border-top-0 {
  border-top: 0 !important; }

.border-right-0 {
  border-right: 0 !important; }

.border-bottom-0 {
  border-bottom: 0 !important; }

.border-left-0 {
  border-left: 0 !important; }

.border-primary {
  border-color: #007bff !important; }

.border-secondary {
  border-color: #868e96 !important; }

.border-success {
  border-color: #28a745 !important; }

.border-info {
  border-color: #17a2b8 !important; }

.border-warning {
  border-color: #ffc107 !important; }

.border-danger {
  border-color: #dc3545 !important; }

.border-light {
  border-color: #f8f9fa !important; }

.border-dark {
  border-color: #343a40 !important; }

.border-white {
  border-color: #fff !important; }

.rounded {
  border-radius: 0.25rem !important; }

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important; }

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important; }

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important; }

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important; }

.rounded-circle {
  border-radius: 50%; }

.rounded-0 {
  border-radius: 0; }

.position-static {
  position: static !important; }

.position-relative {
  position: relative !important; }

.position-absolute {
  position: absolute !important; }

.position-fixed {
  position: fixed !important; }

.position-sticky {
  position: sticky !important; }

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030; }

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020; } }

.absolute-max {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

body, html {
  height: 100%; }

body {
  min-height: 600px; }

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  color: #9da5b4;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.workspace {
  position: relative;
  flex: 1;
  display: flex;
  background-color: #ecf0f5; }
  .workspace .sidebar {
    justify-content: flex-end;
    display: flex;
    position: relative; }
  .workspace .left.sidebar {
    border-right: 1px solid #e9ecef; }
  .workspace .right.sidebar {
    border-left: 1px solid #e9ecef; }
  .workspace .el-collapse {
    border: none; }

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  color: #333; }
  .main > .am-u-g {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .main.am-padding-vertical .page-title {
    padding: 0; }
  .main .page-title {
    position: relative;
    display: flex;
    padding: 15px 15px 0 15px;
    flex-shrink: 0; }
    .main .page-title h1 {
      margin: 9px 0;
      font-size: 24px;
      font-weight: 400; }
    .main .page-title > * {
      flex: 1; }
  .main .page-content {
    flex-grow: 1;
    position: relative;
    padding: 15px 0; }
  .main .page-toolbar {
    margin: .8rem 0; }
  .main .table-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    border: 1px solid #dfe6ec; }
  .main .table-wrapper .el-table {
    border: none; }
    .main .table-wrapper .el-table::before {
      content: none; }
  .main .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 49%; }
  .main .demo-table-expand label {
    width: 90px;
    color: #99a9bf; }
  .main .el-table__expanded-cell .row {
    font-size: 1.2rem;
    display: flex; }
    .main .el-table__expanded-cell .row label {
      width: 160px;
      flex-shrink: 0; }

.el-table .cell {
  font-size: 1.2rem; }

.el-table .el-table__expanded-cell pre {
  font-size: 1.2rem;
  line-height: 1;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.el-table td, .el-table th {
  padding: 0; }

.el-table__expand-icon {
  height: 30px; }

.am-topbar {
  margin: 0;
  min-height: auto;
  line-height: 1; }
  .am-topbar .am-topbar-brand {
    height: 3rem;
    line-height: 3rem; }
  .am-topbar .el-dropdown-link {
    line-height: 36px; }
  .am-topbar .am-topbar-nav > li {
    float: none;
    display: inline-block; }
  .am-topbar .am-topbar-nav a > i {
    font-size: 15px; }
  @media only screen and (min-width: 641px) {
    .am-topbar .am-topbar-form {
      padding: 0 10px;
      margin: 0.7rem 1.5rem; }
    .am-topbar .am-form-inline .am-form-field {
      padding-top: 2px;
      padding-bottom: 2px;
      border-radius: 100px;
      font-size: 1rem; }
    .am-topbar .am-topbar-nav > li > a {
      padding: 10px 10px 11px;
      line-height: 1; }
      .am-topbar .am-topbar-nav > li > a::after {
        content: none; } }
  .am-topbar .el-dropdown {
    font-size: inherit; }

.user-profile img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px; }

.sidebar-panel {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: none;
  flex-grow: 1; }

.sidebar-form {
  border-bottom: 1px solid #e9ecef; }

.user-avatar {
  float: left;
  vertical-align: middle;
  display: block;
  position: relative; }
  .user-avatar img {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 24px; }

.user-info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 10px 15px; }
  .user-info .user-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #444;
    line-height: 1;
    margin: 0 0 9px; }
  .user-info .user-edit {
    color: #444;
    line-height: 1;
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px; }

.el-collapse-item__header .iconfont {
  font-size: 28px;
  line-height: 1;
  vertical-align: middle;
  margin-right: 5px; }

.el-collapse-item__header [class*=am-icon-] {
  font-size: 22px;
  line-height: inherit;
  vertical-align: sub; }

.el-collapse-item__header__arrow {
  float: right;
  line-height: inherit;
  margin-right: 15px;
  transform: rotate(180deg); }

.el-collapse-item__content {
  padding: 5px 0; }
  .el-collapse-item__content .el-tree-node__content > .el-checkbox, .el-collapse-item__content .el-tree-node__content > .el-tree-node__expand-icon {
    margin-right: 5px;
    margin-left: 26px;
    margin-top: -2px;
    border-width: 5px; }
  .el-collapse-item__content .el-tree {
    border: none; }
  .el-collapse-item__content .el-tree__empty-block {
    height: auto; }
  .el-collapse-item__content .item {
    position: relative;
    display: block;
    padding-left: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .el-collapse-item__content .item > [class*=am-icon-] {
    font-size: 19px;
    vertical-align: middle;
    margin-left: 12px; }
  .el-collapse-item__content .item > span {
    float: right; }
  .el-collapse-item__content .item > a, .el-collapse-item__content .item > span {
    font: 12px/1.5 tahoma,arial;
    padding: 7px 9px;
    display: inline-block;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    cursor: pointer; }
  .el-collapse-item__content .item:hover, .el-collapse-item__content .item.active, .el-collapse-item__content .el-tree-node__content:hover {
    background-color: rgba(0, 0, 0, 0.06); }
  .el-collapse-item__content .item::before {
    background: #e0e0e0;
    bottom: auto;
    content: "";
    height: 8px;
    left: 24px;
    margin-top: 13px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%; }
  .el-collapse-item__content .item::after {
    border-left: 1px solid #e0e0e0;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0; }

.am-panel {
  margin: 0;
  border-color: transparent;
  position: relative;
  flex-direction: column; }

.am-panel-bd {
  flex: 1;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

.resize-handle-resizable {
  position: absolute;
  z-index: 11;
  height: auto; }
  .resize-handle-resizable.left {
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    cursor: col-resize; }
  .resize-handle-resizable.right {
    top: 0;
    bottom: 0;
    right: 0;
    width: 4px;
    cursor: col-resize; }
  .resize-handle-resizable.top {
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    cursor: row-resize; }
  .resize-handle-resizable.bottom {
    bottom: 0;
    right: 0;
    left: 0;
    height: 4px;
    cursor: row-resize; }

.collapse-wrapper {
  position: relative;
  height: 100%; }

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .small-box > .inner {
    padding: 10px; }
  .small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    z-index: 5; }
  .small-box .small-box p {
    font-size: 15px;
    z-index: 5; }
  .small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 24px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15); }
    .small-box .icon .iconfont {
      font-size: inherit; }
  .small-box:hover .icon {
    font-size: 95px; }
  .small-box .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none; }
    .small-box .small-box-footer:hover {
      color: #fff;
      background: rgba(0, 0, 0, 0.15); }

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .box .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative; }
  .box .box-header.with-border {
    border-bottom: 1px solid #f4f4f4; }
  .box .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1; }
  .box .box-tools {
    position: absolute;
    right: 10px;
    top: 5px; }
  .box .btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
    box-shadow: none;
    border: 1px solid transparent; }
    .box .btn-box-tool:hover {
      color: #606c84;
      text-decoration: none; }
  .box .box-body {
    border-radius: 0 0 3px 3px;
    padding: 10px; }
  .box .box-footer {
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff; }

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important; }

.bg-gray {
  color: #000;
  background-color: #d2d6de !important; }

.bg-gray-light {
  background-color: #f7f7f7; }

.bg-black {
  background-color: #111 !important; }

.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important; }

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: #f39c12 !important; }

.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important; }

.bg-blue {
  background-color: #0073b7 !important; }

.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important; }

.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a !important; }

.bg-navy {
  background-color: #001f3f !important; }

.bg-teal {
  background-color: #39cccc !important; }

.bg-olive {
  background-color: #3d9970 !important; }

.bg-lime {
  background-color: #01ff70 !important; }

.bg-orange {
  background-color: #ff851b !important; }

.bg-fuchsia {
  background-color: #f012be !important; }

.bg-purple {
  background-color: #605ca8 !important; }

.bg-maroon {
  background-color: #d81b60 !important; }

.bg-gray-active {
  color: #000;
  background-color: #b5bbc8 !important; }

.bg-black-active {
  background-color: #000 !important; }

.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724 !important; }

.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important; }

.bg-aqua-active,
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0 !important; }

.bg-blue-active {
  background-color: #005384 !important; }

.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important; }

.bg-green-active,
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c !important; }

.bg-navy-active {
  background-color: #001a35 !important; }

.bg-teal-active {
  background-color: #30bbbb !important; }

.bg-olive-active {
  background-color: #368763 !important; }

.bg-lime-active {
  background-color: #00e765 !important; }

.bg-orange-active {
  background-color: #ff7701 !important; }

.bg-fuchsia-active {
  background-color: #db0ead !important; }

.bg-purple-active {
  background-color: #555299 !important; }

.bg-maroon-active {
  background-color: #ca195a !important; }

[class^="bg-"].disabled {
  opacity: .65;
  filter: alpha(opacity=65); }

.footer {
  height: 2.5em;
  line-height: 2.5em;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid #e9ecef; }

.status-bar {
  padding: 0 8px;
  display: flex; }
  .status-bar .am-inline-block {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 20vw;
    vertical-align: top; }
  .status-bar .status-bar-left {
    flex: 1 1 33%; }
    .status-bar .status-bar-left .am-inline-block {
      margin-right: 1.5em; }
  .status-bar .status-bar-right {
    padding-left: 10px; }
    .status-bar .status-bar-right .am-inline-block {
      margin-left: 1.5em; }
  .status-bar .am-inline-block:empty {
    margin-left: 0; }
  .status-bar .el-dropdown {
    font-size: inherit; }
  .status-bar .file-info a:hover {
    text-decoration: underline; }
  .status-bar .linter-status-count {
    font-size: 0; }
    .status-bar .linter-status-count span {
      font-size: 1rem;
      border-radius: 0px;
      padding: 4px 6px;
      font-weight: 700;
      color: #FFFFFF;
      background-color: #0E90D2; }
    .status-bar .linter-status-count span:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .status-bar .linter-status-count span:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-right: 1.5em; }
  .status-bar .loading-spinner-tiny {
    margin-top: 0.4em;
    margin-right: 0;
    margin-left: 1.5em;
    position: relative;
    display: block;
    width: 1em;
    height: 1em;
    font-size: 16px;
    background: radial-gradient(#568af2 0.1em, transparent 0.11em); }
  .status-bar .loading-spinner-tiny.idle {
    background: radial-gradient(#64c42d 0.1em, transparent 0.11em); }

.grammar-drop .el-dropdown-menu__item {
  line-height: 24px; }

.toolbar-wrapper {
  padding: 5px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .toolbar-wrapper .setting-panel {
    height: 80px;
    display: flex; }
  .toolbar-wrapper .setting-panel > div {
    display: flex;
    align-items: center;
    padding: 15px; }

.process-wrapper, .directory_wrapper {
  flex-grow: 1;
  position: relative;
  overflow: hidden; }

.resize-handle-resizable {
  cursor: col-resize; }

.select-folder-panel {
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; }
  .select-folder-panel .text {
    text-align: left;
    display: inline-block;
    padding: .5em 1em;
    vertical-align: middle;
    line-height: 1.5;
    border: 1px solid #e6e6e6;
    font-size: 1.2rem;
    width: 280px;
    margin-right: -4px; }

.directory_wrapper .el-collapse, .directory_wrapper .el-tree {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto; }

.directory_wrapper .header-icon {
  float: right;
  line-height: inherit;
  font-size: 19px;
  margin-right: 15px; }

.el-tree-node__content {
  line-height: 24px;
  height: 24px;
  cursor: pointer;
  color: #000000; }
  .el-tree-node__content .sub-label {
    color: #5e7382;
    font-size: 1.2rem;
    float: right; }
  .el-tree-node__content .sub-label i {
    margin: 0 .3rem; }

.el-tree-node__label {
  font-size: 13px; }

.chart {
  height: 330px; }

.tpl-form-line-form .am-form-label {
  padding-top: 5px;
  font-size: 16px;
  color: #888;
  font-weight: inherit;
  text-align: right; }

.el-popover[x-placement^=bottom] {
  margin-top: -1px; }

.select-folder-panel .am-form-field[disabled] {
  background-color: #fff;
  cursor: default; }

.dirs {
  margin: 0;
  padding: 0;
  max-height: 500px;
  overflow: auto; }
  .dirs li {
    line-height: 24px; }
  .dirs li:hover {
    background-color: #ccc; }

.el-dropdown-menu__item {
  line-height: 26px; }

.filter-panel .el-checkbox {
  float: left;
  width: 90px;
  padding-right: 20px;
  margin: 0;
  padding: 0; }

label {
  margin-bottom: 0; }

.create-task-body {
  display: flex;
  height: 500px; }
  .create-task-body .type-panel {
    width: 200px;
    border: 1px solid #ccc;
    flex-shrink: 0; }
  .create-task-body .parame-panel {
    flex-grow: 1; }
  .create-task-body .parame-panel .el-checkbox {
    width: 180px;
    margin-left: 15px;
    margin-bottom: 5px; }
  .create-task-body .parame-panel .el-tab-pane {
    height: 381px;
    overflow: auto; }

.el-loading-mask {
  z-index: 1001 !important; }

.show-field .el-checkbox {
  width: 100px; }

.show-field .el-checkbox + .el-checkbox {
  margin: 0; }

.table-wrapper .el-table__body-wrapper {
  overflow: hidden; }

.little-sister-panel {
  display: flex; }
  .little-sister-panel .am-panel {
    border-color: #ccc; }
  .little-sister-panel .use {
    flex-grow: 1;
    color: #3d74ce; }
  .little-sister-panel .available {
    width: 350px;
    flex-shrink: 0;
    margin-left: 15px; }
  .little-sister-panel .am-panel-bd {
    height: 340px;
    overflow: auto; }
  .little-sister-panel .vddl-list {
    min-height: 340px; }
  .little-sister-panel .panel__body--list {
    background: #fff; }
  .little-sister-panel .panel__body--item .sub-label {
    font-size: 10px;
    color: #a2a1a1;
    font-style: italic; }
  .little-sister-panel .panel__body--item .little-name {
    flex-shrink: 0;
    margin-right: 5px; }
  .little-sister-panel .panel__body--item,
  .little-sister-panel .panel__body .panel__placeholder {
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    padding: 0 15px;
    background: #fff;
    box-sizing: border-box;
    display: flex; }
  .little-sister-panel .panel__body--item.no-padding-left {
    padding-left: 0; }
  .little-sister-panel .panel__body--item:last-child {
    border-bottom: none; }
  .little-sister-panel .panel__body--item > .panel {
    margin: 15px 0; }
  .little-sister-panel .panel .panel__placeholder {
    background: #f5f5f5; }
  .little-sister-panel .panel.panel--info .panel__body {
    padding: 25px; }
  .little-sister-panel .param-group {
    width: 100%;
    align-items: center;
    display: flex;
    padding-left: 15px; }

.file-info-dialog td {
  padding: 1rem; }

.file-info-dialog tr > td:nth-child(2n-1) {
  font-size: 13px;
  font-weight: 600; }

.file-info-dialog pre {
  max-height: 300px;
  overflow: auto; }
