
.sidebar-panel {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: none;
  flex-grow: 1;
}

.user-panel {
  //display: flex;
  // align-items:baseline;
  //padding: 1.5rem 2rem;
}
.sidebar-form{
  border-bottom: $border-width solid $border-color;

}
.user-avatar {
   float: left;
  vertical-align: middle;

  display: block;
  position: relative;
  img {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 24px;
  }

}

.user-info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 10px 15px;
  .user-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #444;
    //word-break: break-all;
    //word-wrap: break-word;
    line-height: 1;
    margin: 0 0 9px;
    //font-family: \5fae\8f6f\96c5\9ed1, \9ed1\4f53;
  }

  .user-edit {
    color: #444;
    line-height: 1;
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
  }
}
.el-collapse-item__header {
  .iconfont {
    font-size: 28px;
    line-height: 1;
    vertical-align: middle;
    margin-right: 5px;
  }
  [class*=am-icon-] {
    font-size: 22px;
    line-height: inherit;
    vertical-align: sub;
  }
}
.el-collapse-item__header__arrow {
  float: right;
  line-height: inherit;
  margin-right: 15px;
  transform: rotate(180deg);
}
.el-collapse-item__content {
  padding: 5px 0;

  .el-tree-node__content>.el-checkbox, .el-tree-node__content>.el-tree-node__expand-icon {
    margin-right: 5px;
    margin-left: 26px;
    margin-top: -2px;
    border-width: 5px;
  }
  .el-tree {
    //margin: 15px;
    border:none;
  }
  .el-tree__empty-block {
    height: auto;
  }
  .item {
    position: relative;
    display: block;
    padding-left: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .item > [class*=am-icon-] {
    font-size: 19px;
    vertical-align: middle;
    margin-left: 12px;
  }
  .item > span {
    float: right;
  }
  .item > a,.item > span {
    font: 12px/1.5 tahoma,arial;
    padding: 7px 9px;
    display: inline-block;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    cursor: pointer;
  }

  .item:hover,.item.active,.el-tree-node__content:hover {
    background-color: rgba(0,0,0,.06);
  }
  .item::before {
    background: #e0e0e0;
    bottom: auto;
    content: "";
    height: 8px;
    left: 24px;
    margin-top: 13px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
  }
  .item::after {
    border-left: 1px solid #e0e0e0;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
  }
}